*{box-sizing:border-box;margin:0;padding:0}
body{
    font-family: 'Montserrat', sans-serif;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color:#444;
    display:flex;
    flex-direction:column;
    min-height:100vh
}
header,footer{
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    text-align:center;
    padding:10px;
}
main{flex:1;display:flex;flex-wrap:wrap;gap:20px;padding:20px;justify-content:center;align-items:flex-start;}
.login-card{
  width: 100%;
  max-width: 360px;
  border-radius:20px;
  padding:30px;
  text-align:center; 
  box-sizing: border-box;
}
.login-card h1{margin-bottom:20px}
.login-card label{display:block;text-align:left;margin:10px 0}
.login-card input {
    width: 100%;
    padding: 10px;

}

.login-card button{margin-top:20px;padding:10px 30px;border:none;border-radius:20px;background:#3c8dbc;color:#fff;cursor:pointer}
.dashboard .card{border-radius:20px;padding:20px;width:300px;display:flex;flex-direction:column;gap:10px}
.glass-card {
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.glass-card:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  /*border-color: rgba(255, 255, 255, 0.5);*/
}


.dashboard .full{width:100%;max-width:960px}
.dashboard h2{text-align:center}
.row{display:flex;justify-content:space-between}

label{display:flex;flex-direction:column;font-size:14px}
input,textarea,select{padding:8px;border:1px solid #888;border-radius:10px;margin-top:5px}
textarea{min-height:80px;resize:vertical}
main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

main.login-page {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.api-key-cell {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-table{
    width:100%;
    border-collapse:collapse
}
.user-table th,.user-table td{border:1px solid #888;padding:8px;text-align:left}
.user-table th{background:#3c8dbc;color:#fff}
.user-table td input{width:100%}
.user-table td, .user-table th {
    padding: 12px;
    font-size: 14px;
}

.user-table .buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.user-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);

}

.user-table th,
.user-table td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
}

.user-table th {
    background: rgba(0, 117, 255, 0.8);
    color: #fff;
        text-align: center;
    vertical-align: middle;
}

.user-table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

.user-table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

.user-table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.user-table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}
.login-card button{
    margin-top:20px;
    padding:10px 30px;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    background: rgba(0, 117, 255, 0.8);
    color:#fff;
    cursor:pointer}
.buttons{display:flex;gap:10px;justify-content:center}
button,select,input[type=range]{cursor:pointer}

button{
    padding:8px 16px;
    border-radius:20px;
    background: rgba(0, 117, 255, 0.8);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    color:#fff
}

button:hover {
  background: rgba(0, 92, 200, 1);
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}    


.btn {
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.22);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
    font-weight: bold;
    display: inline-block;
}

.btn.blue {
    background: rgba(0, 117, 255, 0.8);
}
.btn.red {
    background: rgba(221, 57, 51, 0.8);
    
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn.blue:hover {

  background: rgba(0, 92, 200, 1);
}

.btn.red:hover {
  background: rgb(175, 6, 0, 1);
  transform: scale(1.02);
}

button {
  transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
}


input[type="text"],
input[type="time"],
input[type="email"],
input[type="password"],
input[type="range"],
select,
textarea {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
  color: #000;
}

input[type="text"]:hover,
input[type="time"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="range"]:hover,
select:hover,
textarea:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


input[type="checkbox"] {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

input[type="checkbox"]:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

form.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form label {
  margin-bottom: 12px;
}

label.checkbox-label {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
}

label.checkbox-label input[type="checkbox"] {
  margin: 0;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  font-size: 11px;
}

.dashboard .full input,
.dashboard .full textarea,
.dashboard .full select {
    width: 100%;
}

.login-card input:-webkit-autofill,
.login-card input:-webkit-autofill:focus {
    background: rgba(255, 255, 255, 0.22) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 0 1000px rgba(255,255,255,0.22) inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: transform 0.4s ease, box-shadow 0.4s ease !important;
    transition-delay: 9999s;
}
input[type="text"]:hover,
input[type="password"]:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: rgba(60, 141, 188, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

textarea {
  overflow: auto;
  padding-right: 12px;
  scrollbar-width: thin;
  scrollbar-color: rgba(60, 141, 188, 0.4) rgba(255, 255, 255, 0.1);
}

textarea.auto-expand {
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  resize: vertical;
  white-space: pre-wrap;
  word-break: break-word;
  transition: height 0.2s ease;
}

.btn-add-label {
  width: 100%;
  max-width: 300px; /* или как у других input’ов */
  cursor: pointer;
  user-select: none;
  margin-bottom: 12px;
}

.btn-add-label input[type="text"] {
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 117, 255, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
  border-radius: 10px; /* как у инпутов */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.btn-add-label input[type="text"]:hover,
.btn-add-label input[type="text"]:focus {
  background: rgba(0, 92, 200, 1);
  outline: none;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.25);
}
.btn-add-label {
  border-radius: 10px;
}

.collapsed-field,
.expanded-field {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
  color: #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 12px;
  display:flex;
  font-size:13px;
  width: 100%;

  justify-content: space-between; 
  align-items: center;
}

.collapsed-field:hover,
.expanded-field:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.collapsed-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.done-button {
    padding:8px 16px;
    border-radius:20px;
    background: rgba(0, 117, 255, 0.8);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    color:#fff;
    display: block;
    margin: 0 auto;
}

.done-button:hover {
  background: rgba(0, 92, 200, 1);
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}    
.form-flex {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap; /* Чтобы не ломалось на мобилках */
}

.form-flex form {
    flex: 1;
    min-width: 300px;
}
.form-flex h3 {
    text-align: center;
}
.row {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.row label {
    flex: 1;
    min-width: 200px;
}


hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.side-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left:0px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px 20px;
    z-index: 999;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.side-nav:hover {
  transform: translateY(-50%) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.side-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.side-nav a {
    display: inline-block;
    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.side-nav a:hover {
    transform: scale(1.04);
    color: rgba(0, 92, 200, 1);
}
html {
    scroll-behavior: smooth;
}
.side-nav-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.card-image {
  width: 90px;       /* нужная ширина */
  height: auto;       /* чтобы не растягивалась */
  margin-bottom: 10px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
    .side-nav {
        display: none !important;
    }
}
@media screen and (max-width: 768px) {
    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .user-table {
        width: max-content;
        min-width: 100%;
    }
}
.nav-image {
  width: 70px;       /* нужная ширина */
  height: auto;       /* чтобы не растягивалась */
  margin-bottom: 10px;
  max-width: 100%;
}
.logo-container {
    display: flex;
    justify-content: center;
}
.nav-item hr {
  margin-top: 6px;
}
/* Скрытие панели */
.side-nav.collapsed {
  transform: translate(-90%, -50%);
}

/* Кнопка сворачивания/разворачивания */
.toggle-button {
  position: absolute;
  top: 48%;
  right: 0; /* внутри блока */
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 6px 0 0 6px;
  padding: 10px 6px;
  font-size: 16px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding-bottom: 9px;
}

/* Поворот стрелки при свёрнутом меню */
.side-nav.collapsed .toggle-button {
  transform: translateY(-50%) rotate(180deg);
}
.toggle-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.spinner {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  vertical-align: middle;
  margin-left: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.search-input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 12px;
}

.filters .search-input {
  width: auto;      /* убираем 100% */
  flex: 1 1 130px;  /* минимальная ширина 150px, растягивается при необходимости */
  max-width: 180px; /* на случай очень длинных названий */
}


.filter-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-row .search-input {
  flex: 1;
  min-width: 180px;
}


#page-loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner-ring {
  width: 100%;
  height: 100%;
  border: 6px solid #ccc;
  border-top-color: rgba(0, 92, 200, 1);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-logo {
  position: absolute;
  top: 50%; left: 50%;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
  
@keyframes spin {
  to { transform: rotate(360deg); }
}
.loader-text {
  margin-top: 100px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  text-align: center;
  position: absolute;
}
input[type="checkbox"],
input[type="range"] {
  accent-color: #0075ff;
}